In [2]:
import pandas

In [3]:
df=pandas.read_csv("../data-raw/07_gap-merged-with-continent.tsv",sep='\t')
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.shape

(3313, 6)

In [6]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [7]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3313 entries, 0 to 3312
Data columns (total 6 columns):
country      3313 non-null object
continent    3313 non-null object
year         3313 non-null int64
lifeExp      3313 non-null float64
pop          3313 non-null int64
gdpPercap    3313 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 155.4+ KB

In [9]:
    country_df=df['country']
    country_df.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [10]:
country_df.tail()

3308    Zimbabwe
3309    Zimbabwe
3310    Zimbabwe
3311    Zimbabwe
3312    Zimbabwe
Name: country, dtype: object

In [11]:
subset=df[['country','continent','year']]
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [12]:
subset.tail()

       country continent  year
3308  Zimbabwe    Africa  1987
3309  Zimbabwe    Africa  1992
3310  Zimbabwe    Africa  1997
3311  Zimbabwe    Africa  2002
3312  Zimbabwe    Africa  2007

In [13]:
df.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [14]:
df.iloc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object